<div class="container-fluid splash">
  <div class="row splashrow">
  	<div class="col-sm-5">
  		<center>
  			<img class="logo" src="assets/spark.png"><img>
  		</center>
  	</div>
  	<div class="col-sm-2">
  		<center>
  			<div class="vertical-line" style="height: 250px;" />
		</center>
	</div>
  	<div class=" signinblock col-sm-5">
  		<form role="form">
  			<div class="form-group">
    			<input class="textbox" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email@address.com">
  			</div>
  			<div class="form-group">
    			<input class="textbox" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  			</div>
        <div class="form-group">
          <button type="button" class="button">Connect</button>
          <button type="button" class="button">Facebook</button>
        </div>
 		</form>
  	</div>
  </div>
</div>
<div class="container-fluid splash2">
</div>