<div class="container-fluid splash">
  <div class="row splashrow">
  	<div class="col-sm-5">
  		<center>
  			<img class="logo" src="assets/spark.png"><img>
  		</center>
  	</div>
  	<div class="col-sm-2">
  		<center>
  			<div class="vertical-line" style="height: 250px;" />
		</center>
	</div>
  	<div class=" signinblock col-sm-5">
  		<div class="row">
  			<button type="button" class="button">Login with Facebook</button>
  		</div>
  		<div class="signin row">
  			<button type="button" class="button">Login with Twitter</button>
  		</div>
  		<div class="signin row">
  			<button type="button" class="button">Login with Google+</button>
  		</div>
  	</div>
  </div>
</div>
<div class="container-fluid splash2">
</div>